<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>
  <% if @user %>
    <div>
    <p>
        <strong>Username:</strong> <%= @user.username %><br>
    </p>
      <p id="render-partial">
        <%= erb :_tweet %>
      </p>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
</div>
