<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>
  <% if current_user %>
    <div>
    <p>
        <strong>Username:</strong> <%= current_user.username %><br>
    </p>
      <p id="render-partial">
        <%= erb :_tweet %>
      </p>
      <% if current_user.tweets %>
      <ul>
        <% current_user.tweets.each do |tweet| %>
        <li><a class="job" href="/status/<%= tweet.job_id%>"><%= tweet.content %></a><p id="text"></p></li>
        <% end %>
      </ul>
      <% end %>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
</div>
